*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background: #f6d7a7;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  height: 50%;
  background: #c8e3d4;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
.container input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #87aaaa;
  outline: none;
  width: 320px;
  background: transparent;
  color: #87aaaa;
}
.container input::placeholder {
  color: #87aaaa;
}
.todoForm {
  margin-bottom: 32px;
}
.btn {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #f6eabe;
  color: #87aaaa;
  text-transform: capitalize;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.deleteIcon {
  margin-right: 5px;
  color: #fff;
}

.editIcon {
  color: #fff;
}
.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  background: #87aaaa;
}
h1 {
  margin: 32px 0;
  color: #87aaaa;
  font-size: 24px;
}
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #f6d7a7;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #87aaaa;
  color: white;
  border: 1px solid #87aaaa;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #c8e3d4;
  border-color: #c8e3d4;
}
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
